.playerNameButton {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    background: none;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
}

.activePlayer {
    font-weight: bold;
    color: #2563eb;
}

.inactivePlayer {
    color: #6b7280;
}